<h1>Storyboards</h1>

  <ul class="large-block-grid-3">
    <% @storyboards.each do |storyboard| %>
      <li><img class="thumbnail" src="<%= storyboard.thumbnail_url %>"><h3><%= link_to storyboard.name, storyboard %></li>
    <% end %>
  </ul>
<br>

