<div class="small-12 medium-6 large-6 columns">
  <h1>Graphic Design</h1>
  
    <ul class="graphic">
      <% @graphics.each do |graphic| %>
        <% if graphic.vector == false %>
          <li class="graphics-loop"><img class="graphic-thumbnail" src="<%= graphic.image %>"><h3><%= link_to graphic.name, graphic %></li>
        <% end %>
      <% end %>
    </ul>
  <br />
</div>
<div class="small-12 medium-6 large-6 columns">
  <h1>Vector Illustrations</h1>
  
    <ul class="graphic">
      <% @graphics.each do |graphic| %>
        <% if graphic.vector == true %>
          <li class="graphics-loop"><img class="graphic-thumbnail" src="<%= graphic.image %>"><h3><%= link_to graphic.name, graphic %></li>
        <% end %>
      <% end %>
    </ul>
  <br>
</div>